body{
   margin: 0;
   padding: 0;
}

#container{

  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  margin: 20px;
  padding: 20px;
  max-width: 100%;
  border: 5px;
  border-radius: 5px;

}

#taskList{

    list-style: none;
    padding: 0;
    font-size: 50px;
    padding: 5px;
}

#taskInput{

  font-size: 20px;
  margin: 20px;
   

}


button{

    background-color: #1500f8e4;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    

}

button:hover{

    background-color: rgb(132, 132, 241);
}

button:focus{

    outline: none;
}


